
.hr {
    background:rgb(80, 143, 236);
    position:relative;
    height:6px;
    margin-top: -10px;
}

.hr:before {
    content:'';
    background:rgb(245, 49, 65);
    width:7%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
  }

  .hr:after {
    content:'';
    background:rgb(192, 186, 186);
    width:89%;
    height:100%;
    position:absolute;
    top:0;
    right:0;
  }


  .hr2 {
    background:rgb(80, 143, 236);
    position:relative;
    height:6px;
    margin-top: -10px;
    margin-right: -25px;
}

.hr2:before {
    content:'';
    background:rgb(245, 49, 65);
    width:27%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
  }

  .hr2:after {
    content:'';
    background:rgb(192, 186, 186);
    width:60%;
    height:100%;
    position:absolute;
    top:0;
    right:0;
  }

  .america {
      font-weight: 900;
      font-size: x-large;

  }

  .america2 {
    font-weight: 900;
    font-size: x-large;

}

  .borderst{
      width: 100%;
      padding: 1%;
      border: 1px solid rgb(214, 211, 211);
  }
  .borderimg {
    padding: 0px;
    width: 100%;
  }

  .specialsec{
    position: relative;
    color: white;
    height: 300px;
    margin-top: 10px;
  }

  .bottomleft{
    position: absolute;
    bottom: -5px;
    left: 3%;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(32, 30, 30, 0.562);
    
    
  }

  .specialsec img{
      border-radius: 2%;
  }


  .banglasec {
    border: 1px solid rgb(214, 211, 211);
  }


  .minithumb{
    border-top: 1px solid rgb(214, 211, 211);
    margin-left: 12px;
    margin-bottom: 5px;
    margin-top: -8px;
  }

  .rajnitisecimg img {
      border-radius: 5%;
  }


  .kheladula {
    margin-top: 2%;

  }

  .kheladula img {
    border-radius: 5%;
    height: 70px;
    width: 120%;
  }

  .kheladula1b{
    margin-left: 1%;
    width: 100%;
  }


  
  
  .shark-1 {
    position: sticky;
    top: 0;
  }
  
  .shark-2 {
    position: sticky;
    top: 4rem;
  }
  
  .shark-3 {
    position: sticky;
    bottom: 1rem;
    align-self: flex-end;
  }

  .first-bold-img{
    height: 300px;
  }
  
  .mobile_logo_img{
    width: 200px;
    height:auto ;
    cursor: pointer;
  }


  .main_menu_show{
    display: none;
  }

  @media (min-width: 800px) {
    .main_menu_show{
      display: block;
    }
  }

  .mobile_menu_show{
    display: none;
  }


  @media (max-width: 800px) {
    .mobile_menu_show{
      display: block;
    }
  }

  .content_justify{
    text-align: justify;
  }

  .simple_heading {
    font-weight: 600;
    font-size: 25px;
  }

  .fixedadds {
      position: sticky;
      top: 0;
  }


  /* mobile search button style */

  .searchbutton {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
 

  