.headerMenu {
    background-color: #fff;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
  }
  
  .headerMenuItems {
    display: none;
    z-index: 1;
    max-width: 100%;
    overflow-wrap: break-word;
    font-weight: 900;
  }
  
  .a {
    color: #000;
    padding: 10px;
    text-decoration: none;
  }
  
  .search {
    display: none;
  }
  
  .search-icon {
    display: none;
  }
  
  .headerMenuItems hr {
    color: #d0d0d0;
    background-color: #d0d0d0;
    height: 1px;
    border: none;
  }
  
  .headerMenuBtn {
    text-align: left;
    background-color: #ff3b3b;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    display: block;
  }
  
  #toggleMenu {
    display: none;
  }
  
  #toggleMenu:checked ~ .headerMenuItems {
    display: block;
  }
  
  #toggleMenu ~ label .hide {
    display: none;
  }
  
  #toggleMenu:checked ~ label .show {
    display: none;
  }
  
  #toggleMenu:checked ~ label .hide {
    display: inline;
  }