/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logoDetails{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logoDetails i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logoDetails .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logoDetails .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .navLinks{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .navLinks{
  overflow: visible;
}
.sidebar .navLinks::-webkit-scrollbar{
  display: none;
}
.sidebar .navLinks li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .navLinks li:hover{
  background: #1d1b31;
}
.sidebar .navLinks li .iocnLink{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .navLinks li .iocnLink{
  display: block
}
.sidebar .navLinks li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .navLinks li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .navLinks i.arrow{
  display: none;
}
.sidebar .navLinks li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .navLinks li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .navLinks li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .navLinks li .subMenu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .navLinks li.showMenu .subMenu{
  display: block;
}
.sidebar .navLinks li .subMenu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .navLinks li .subMenu a:hover{
  opacity: 1;
}
.sidebar.close .navLinks li .subMenu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .navLinks li:hover .subMenu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .navLinks li .subMenu .link_name{
  display: none;
}
.sidebar.close .navLinks li .subMenu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .navLinks li .subMenu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .navLinks li:hover .subMenu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profileDetails{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profileDetails{
  background: none;
}
.sidebar.close .profileDetails{
  width: 78px;
}
.sidebar .profileDetails .profileContent{
  display: flex;
  align-items: center;
}
.sidebar .profileDetails img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profileDetails img{
  padding: 10px;
}
.sidebar .profileDetails .profile_name,
.sidebar .profileDetails .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profileDetails i,
.sidebar.close .profileDetails .profile_name,
.sidebar.close .profileDetails .job{
  display: none;
}
.sidebar .profileDetails .job{
  font-size: 12px;
}
.homeSection{
  position: relative;
  background: #E4E9F7;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .homeSection{
  left: 78px;
  width: calc(100% - 78px);
}
.homeSection .homeContent{
  height: 60px;
  display: flex;
  align-items: center;
}
.homeSection .homeContent .bxMenu,
.homeSection .homeContent .text{
  color: #11101d;
  font-size: 35px;
}
.homeSection .homeContent .bxMenu{
  margin: 0 15px;
  cursor: pointer;
}
.homeSection .homeContent .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 1000px) {
  .sidebar.close .navLinks li .subMenu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .homeSection{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .homeSection{
    width: 100%;
    left: 0;
  }
}
